.btn {
  border: 1px solid #0087ff;
  border-radius: 4px;
  background-color: #0087ff;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  transition: .2s;
}
.btn-reverse {
  border: 1px solid #0087ff;
  border-radius: 4px;
  background-color: #0087ff;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  transition: .2s;
  background-color: white;
  color: #0087ff;
}
