.orders .container .cc-main-order {
  margin-top: 39px;
}
.orders .container .cc-main-order .cc-imghead-order .cc-right-img img {
  width: 100%;
}
.orders .container .cc-main-order .cc-imghead-order .cc-right-img img:first-child {
  margin-bottom: 30px;
}
.orders .container .cc-main-order .cc-imghead-order .cc-left-img img {
  width: 100%;
}
@media (max-width: 770px) {
  .orders .container .cc-main-order .cc-imghead-order .cc-left-img {
    margin-bottom: 30px;
  }
}
.orders .container .cc-main-order .cc-product-count {
  margin-top: 30px;
  padding-top: 18px;
  padding-bottom: 18px;
}
@media (min-width: 992px) {
  .orders .container .cc-main-order .cc-product-count {
    display: flex;
    display: -moz-box;
    display: -webkit-box;
  }
}
.orders .container .cc-main-order .cc-product-count p {
  font-weight: 600;
  color: #172b4d;
  padding-left: unset;
  margin-right: 20px;
  padding-top: 9px;
}
.orders .container .cc-main-order .cc-product-count label {
  margin-top: 9px;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #172b4d;
  margin-right: 30px;
}
.orders .container .cc-main-order .cc-product-count .cc-green-div,
.orders .container .cc-main-order .cc-product-count .cc-red-div,
.orders .container .cc-main-order .cc-product-count .cc-yeelow-div {
  margin-right: 12px;
}
@media (max-width: 1026px) {
  .orders .container .cc-main-order .cc-product-count .display-flex {
    margin-bottom: 10px;
  }
}
.orders .container .cc-main-order .cc-fast-filter {
  padding-top: 18px;
  padding-bottom: 18px;
}
@media (min-width: 992px) {
  .orders .container .cc-main-order .cc-fast-filter {
    display: flex;
    display: -moz-box;
    display: -webkit-box;
  }
}
.orders .container .cc-main-order .cc-fast-filter p {
  font-weight: 600;
  color: #172b4d;
  width: 15%;
  padding-left: unset;
  padding-right: unset;
  padding-top: 9px;
}
.orders .container .cc-main-order .cc-fast-filter div {
  padding-left: unset;
  padding-right: unset;
}
@media (max-width: 992px) {
  .orders .container .cc-main-order .cc-fast-filter div.col-md-2 {
    margin-bottom: 10px;
  }
}
.orders .container .cc-main-order .cc-filter {
  padding-bottom: 7px;
}
.orders .container .cc-main-order .cc-filter .stylish-input-group .input-group-addon {
  background: #fafbfc !important;
  border: solid 1px #dfe1e6;
  border-left: unset;
}
.orders .container .cc-main-order .cc-filter .stylish-input-group .form-control {
  box-shadow: 0 0 0;
  border: solid 1px #dfe1e6;
  border-right: unset;
  background: #fafbfc;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
}
.orders .container .cc-main-order .cc-filter .stylish-input-group button {
  border: unset;
  background: transparent;
}
.orders .container .cc-main-order .cc-filter .stylish-input-group {
  float: left;
  width: 100%;
}
@media (min-width: 770px) {
  .orders .container .cc-main-order .cc-filter .stylish-input-group {
    width: 75%;
  }
}
.orders .container .cc-main-order .cc-filter .cc-button-filter1 {
  float: left;
  width: 50%;
  margin-bottom: 10px;
  margin-top: 10px;
}
@media (min-width: 770px) {
  .orders .container .cc-main-order .cc-filter .cc-button-filter1 {
    width: 10%;
    margin-top: unset;
  }
}
@media (min-width: 992px) {
  .orders .container .cc-main-order .cc-filter .cc-button-filter1 {
    margin-left: 59px;
  }
}
.orders .container .cc-main-order .cc-filter .cc-button-filter2 {
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
  display: inline-block;
}
@media (max-width: 770px) {
  .orders .container .cc-main-order .cc-filter .cc-button-filter2 {
    float: left;
  }
}
@media (min-width: 770px) {
  .orders .container .cc-main-order .cc-filter .cc-button-filter2 {
    margin-top: unset;
    margin-bottom: unset;
  }
}
.orders .container .cc-main-order .cc-filter .cc-button-filter1,
.orders .container .cc-main-order .cc-filter .cc-button-filter2 {
  padding-top: 6px;
}
.orders .container .cc-main-order .cc-product-order {
  border: solid 1px #ebecf0;
  border-radius: 4px;
  margin-top: 15p;
  margin-bottom: 15px;
  box-shadow: 0 3px 2px 0 rgba(23, 43, 77, 0.03);
}
.orders .container .cc-main-order .cc-product-order .cc-imgpd-order {
  width: 80%;
}
.orders .container .cc-main-order .cc-product-order .cc-product-desorder {
  padding: 0 16px 0 16px;
  font-size: 13px;
  display: flex;
  display: -moz-box;
  display: -webkit-box;
}
.orders .container .cc-main-order .cc-product-order .cc-product-desorder span:first-child {
  margin-right: 18px;
  margin-bottom: 3px;
}
.orders .container .cc-main-order .cc-product-order .cc-product-desorder .cc-promotion {
  border-radius: 4px;
  background-color: #f0f8ff;
  padding: 8px 17px 8px 13px;
}
.orders .container .cc-main-order .cc-product-order .cc-product-desorder .cc-des-desorder {
  padding-top: 16px;
  padding-bottom: 10px;
}
.orders .container .cc-main-order .cc-product-order td {
  vertical-align: top;
}
.orders .container .cc-main-order .cc-product-order table {
  margin: 16px 16px 0 16px;
}
.cc-green-div {
  width: 114px;
  height: 36px;
  border-radius: 4px;
  background-color: #18bd5c;
  color: white;
  text-align: center;
  padding-top: 9px;
  font-weight: 600;
}
.cc-red-div {
  width: 114px;
  height: 36px;
  border-radius: 4px;
  background-color: #ed1818;
  text-align: center;
  padding-top: 9px;
  font-weight: 600;
  color: white;
}
.cc-yeelow-div {
  width: 170px;
  height: 36px;
  border-radius: 4px;
  background-color: #f2a825;
  padding-top: 9px;
  font-weight: 600;
  color: white;
  text-align: center;
}
.dark-button {
  width: 133px;
  height: 36px;
  border-radius: 4px;
  background-color: #172b4d;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  border: none;
}
.light-button {
  width: 152px;
  height: 36px;
  border-radius: 4px;
  background-color: #ffffff;
  background-color: var(--white);
  border: solid 1px #6b778c;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #172b4d;
}
.light-button2 {
  width: 152px;
  border-radius: 4px;
  background-color: #ffffff;
  background-color: var(--white);
  border: solid 1px #6b778c;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #172b4d;
  width: 188px;
  height: 36px;
}
@media (min-width: 992px) {
  .display-flex {
    display: flex;
    display: -moz-box;
    display: -webkit-box;
  }
}
.cc-tag-new {
  width: 45px;
  height: 20px;
  border-radius: 4px;
  background-color: #f0f8ff;
  font-size: 11px;
  color: #18bd5c;
  text-align: center;
  padding-top: 3px;
}
.cc-tag-hot {
  width: 45px;
  height: 20px;
  font-size: 11px;
  border-radius: 4px;
  background-color: #f79595;
  padding-top: 3px;
  color: #ed1818;
  text-align: center;
}
.cc-small-span {
  font-size: 11px;
  color: #6b778c;
}
.green-span {
  font-size: 15px;
  font-weight: 600;
  color: #18bd5c;
}
.red-span {
  font-size: 15px;
  font-weight: 600;
  color: #ed1818;
}
.yellow-span {
  font-size: 15px;
  font-weight: 600;
  color: #f2a825;
}
.inline-block {
  display: inline-block;
}
.pagination-div {
  margin-bottom: 96px;
}
.end_page_note {
  width: 100%;
  font-size: 15px;
  line-height: 1.47;
  text-align: center;
  color: #0059b0;
  border: solid 1px #81c5ff;
  padding: 10px;
  margin-bottom: 24px;
  border-radius: 4px;
  cursor: default;
}
.cc-hr {
  margin-bottom: unset;
}
.buttonfx:before,
.buttonfx:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: #0087ff;
  /* onhover background color */
  z-index: -1;
  transform: translate3D(0, -100%, 0);
  /* move elements above button so they don't appear initially */
  transition: all .5s;
  font-size: 39px;
  font-weight: 400;
}
.buttonfx:before {
  background: white;
  /* button default background color */
  z-index: -2;
  transform: translate3D(0, 0, 0);
}
.buttonfx:hover {
  color: white;
}
.buttonfx:hover:after {
  transform: translate3D(0, 0, 0);
  transition: all .5s;
}
.buttonfx {
  color: black;
  /* button text color */
  outline: none;
  background: transparent;
  border: none;
  letter-spacing: 0.0625em;
  line-height: 2;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  /* remove underline if using A instead of BUTTON tag */
  overflow: hidden;
  transition: all .1s;
  font-size: 25px;
  font-weight: 400;
  color: #0087ff;
  border-left: 1px solid #ebecf0;
}
.show-des {
  display: none;
  background-color: rgba(23, 43, 77, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: white;
}
.show-des table {
  width: 100%;
}
.cc-des-desorder:hover .show-des {
  display: block;
}
.cc-des-desorder:hover {
  padding: 10px 0 11px 16px;
}
.bold-value {
  font-size: 13px;
  font-weight: 600;
  line-height: 2.15;
  color: #ffffff;
}
.buttonfx-clicked {
  color: white;
  background-color: #0087ff;
  font-size: 31px;
  border: none;
}
#chunCarousel {
  background-color: #dfe1e6;
}
#chunCarousel .active {
  background-color: #172b4d;
}
.cc_dropdown_menu {
  width: 212px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  border: solid 1px #ebecf0;
  left: -100px;
  padding: 15px 10px;
  margin-top: 12px;
}
.cc_dropdown_menu::before {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  top: -6px;
  right: 59px;
  transform: rotate(45deg);
  background: #FFF;
  border-top: 1px solid;
  border-left: 1px solid;
  border-color: #ebecf0;
}
.cc_dropdown_menu a {
  display: block;
  font-size: 15px;
  color: black;
  padding: 9.5px 21px;
  border-radius: 4px;
}
.cc_dropdown_menu a:hover {
  background-color: #f0f8ff;
}
.cc-button-filter1 {
  position: relative;
}
.container-checkbox {
  right: 12px;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 13px;
  line-height: 1.54;
  color: #333333;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  background-color: white ;
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border-radius: 4px;
  border: solid 1px #a5adbb;
}
.container-checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
  border: none;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 9px;
  top: 7px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.label-title {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: normal;
  color: #172b4d;
  text-transform: uppercase;
  margin-bottom: 27px;
  margin-top: 40px;
}
.cc-main-dropdown {
  padding-left: 30px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
@media (max-width: 992px) {
  #big_dropdown {
    left: 0;
  }
}
@media (min-width: 992px) {
  #big_dropdown {
    width: 900px;
    left: -750px;
  }
}
.cc-divbutton-filter {
  border-top: solid 1px #ebecf0;
  padding-top: 14px;
  text-align: right;
}
.cc-divbutton-filter .cc-delete-button {
  width: 133px;
  height: 32px;
  border-radius: 4px;
  background-color: white;
  border: none;
  text-transform: uppercase;
  color: #0087ff;
}
.cc-divbutton-filter .cc-apply-button {
  width: 133px;
  height: 32px;
  border-radius: 4px;
  background-color: #0087ff;
  text-transform: uppercase;
  color: white;
  border: none;
  font-weight: 600;
}
.cc-button-filter1 .cc_dropdown_menu::before {
  right: 100px;
}
.em_active_notice {
  border-radius: 4px;
  background-color: #e9f5ff;
  border: solid 1px #81c5ff;
  padding: 12px;
  line-height: 1.47;
  letter-spacing: normal;
  color: #0059b0;
}
.em_active_notice .notice_icon {
  float: left;
  padding: 9px 21px 9px 9px;
}
