<!DOCTYPE html>
<html lang="vi">

<head>

    {% include 'lib.html' %}
    <link href="/static/src/css/my_style.css" rel="stylesheet" type="text/css"/>
    <link href="/static/src/css/font.css" rel="stylesheet" type="text/css"/>
    <link href="/static/src/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="/static/src/css/header.css" rel="stylesheet" type="text/css"/>
    <link href="/static/src/css/404_style.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<main>
    <div class="404" id="404">
        <div class="container">
            <div class="main-container">
                <h2 class="h2-title">Chúng tôi không tìm thấy trang bạn yêu cầu</h2>
                <p class="p-title">Trang này không tồn tại hoặc sản phẩm đã bị xoá khỏi website</p>
                <a href="javascript:history.back()">
                    <button class="cc-button-home">về lại trang trước</button>
                </a>
            </div>
        </div>
    </div>

</main>

</body>

</html>