<link href="/static/src/css/ecart.css" rel="stylesheet" type="text/css"/>
<script src="/static/src/js/ecart.js" type="text/javascript"></script>
<div class="evcenter emini-cart">
    <div class="evcenter__element">
        <div class="ecart">
            <div class="ewrap">
                <button class="ebuton-close js_toggle_cart">
                    <i aria-hidden="true" class="fa fa-angle-left"></i>
                </button>
                <div class="etitle">
                    <h2>Đơn hàng</h2>
                    <b class="cgray js_order_count">8</b>
                    <span class="cgray">sản phẩm</span>
                </div>
                <div class="etable">
                    <div class="erow ehead">
                        <div class="ecell">Sản phẩm</div>
                        <div class="ecell text-center">Số lượng</div>
                        <div class="ecell text-right">Thành tiền</div>
                        <div class="ecell"></div>
                    </div>
                </div>
                <div class="eoverflow">
                    <div class="etable odd">
                        <!-- row -->
                        <div class="erow">
                            <div class="ecell">
                                Thuốc ho Nam Dược
                            </div>
                            <div class="ecell">
                                <div class="eamount">
                                    <a href="#"><i aria-hidden="true" class="fa fa-minus"></i></a>
                                    <input type="number" value="10"/>
                                    <a href="#"><i aria-hidden="true" class="fa fa-plus"></i></a>
                                </div>
                            </div>
                            <div class="ecell text-right">
                                <b>250.000đ</b>
                            </div>
                            <div class="ecell">
                                <a class="eremove" href="#"><i aria-hidden="true" class="fa fa-times-circle"></i></a>
                            </div>
                        </div><!-- row -->

                        <!-- row -->
                        <div class="erow">
                            <div class="ecell">
                                Fish Oil Ultra Omega 3 bổ gan hộp 30V
                            </div>
                            <div class="ecell">
                                <div class="eamount">
                                    <a href="#"><i aria-hidden="true" class="fa fa-minus"></i></a>
                                    <input type="number" value="10"/>
                                    <a href="#"><i aria-hidden="true" class="fa fa-plus"></i></a>
                                </div>
                            </div>
                            <div class="ecell text-right">
                                <b>1250.000đ</b>
                            </div>
                            <div class="ecell">
                                <a class="eremove" href="#"><i aria-hidden="true" class="fa fa-times-circle"></i></a>
                            </div>
                        </div><!-- row -->

                        <!-- row -->
                        <div class="erow">
                            <div class="ecell">
                                Thuốc ho Nam Dược
                            </div>
                            <div class="ecell">
                                <div class="eamount">
                                    <a href="#"><i aria-hidden="true" class="fa fa-minus"></i></a>
                                    <input type="number" value="10"/>
                                    <a href="#"><i aria-hidden="true" class="fa fa-plus"></i></a>
                                </div>
                            </div>
                            <div class="ecell text-right">
                                <b>120.000đ</b>
                            </div>
                            <div class="ecell">
                                <a class="eremove" href="#"><i aria-hidden="true" class="fa fa-times-circle"></i></a>
                            </div>
                        </div><!-- row -->
                    </div>
                </div>
                <div class="etable esum-table">
                    <div class="erow">
                        <div class="ecell"><b class="sum">Tổng tiền</b></div>
                        <div class="ecell"></div>
                        <div class="ecell text-right">
                            <b class="sumred">1.200.000đ</b>
                        </div>
                        <div class="ecell display-none-xs"></div>
                    </div>
                </div>
                <a class="btn btn-order" href="/dat-hang-don-hang">đặt hàng</a>
            </div>
        </div>
    </div>
</div>

<a class="etoggle_cart js_toggle_cart" href="#">
    <span class="order_count">8</span>
    <img src="/static/src/img/em/cart_mobile/1.png"/>
</a>