<style type="text/css">
    .cc-image-footer { list-style: none; }
    .cc-image-footer li img { margin: 2px; }
</style>

<footer>
    <!-- Footer here -->
    <div class="container">
        <div class="end_page_note">
            Lưu ý: Thông tin chỉ mang tính chất tham khảo dành cho nội bộ thành viên trên website gts.com
        </div>
    </div>

    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8  col-md-8 col-sm-6 col-xs-12 cc-text-footer">
                    <ul class="cc-ul-infofooter">
                        <li class="cc-footer-title">Giá Thuốc Sỉ là website thuộc sở hữu của Công ty Cổ phần Dược Hapu
                        </li>
                        <li class="cc-footer-des">
                            <p>Địa chỉ: 134/1 Tô Hiến Thành, Phường 15, Quận 10, Tp Hồ Chí Minh, Việt Nam</p>
                            <p>Hotline: 08183717183</p>
                            <p>Email: Giathuocsi@gmail.com</p>
                        </li>
                        <li class="cc-footer-des">
                            <p>Bản quyền thuộc Công ty Cổ phần Dược Hapu.<br/>
                                Số chứng nhận đăng ký kinh doanh: 0107437032 (Số chứng nhận đủ điều kiện kinh doanh
                                thuốc)</p>
                            <div>
                                <img src="/static/src/img/Home_Export/FBitmap.png"/>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 cc-image-footer">
                    <li><a href="#"><img src="/static/src/img/Home_Export/Group 49.png"/></a></li>
                    <li><a href="#"><img src="/static/src/img/Home_Export/Group 47.png"/></a></li>
                    <li><a href="#"><img src="/static/src/img/Home_Export/Group 47 Copy.png"/></a></li>
                    <li><a href="#"><img src="/static/src/img/Home_Export/Group 47 Copy 2.png"/></a></li>
                    <li><a href="#"><img src="/static/src/img/Home_Export/Group 47 Copy 3.png"/></a></li>
                </div>
            </div>
        </div>
    </div>
</footer>

