<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="description" content="gts"/>
<meta name="author" content="TienHieuD and ChunChun"/>

<link href="/static/lib/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="/static/lib/fontawesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
<script src="/static/lib/jquery/jquery.js" type="text/javascript"></script>
<script src="/static/lib/bootstrap/js/affix.js" type="text/javascript"></script>
<script src="/static/lib/bootstrap/js/alert.js" type="text/javascript"></script>
<script src="/static/lib/bootstrap/js/button.js" type="text/javascript"></script>
<script src="/static/lib/bootstrap/js/carousel.js" type="text/javascript"></script>
<script src="/static/lib/bootstrap/js/collapse.js" type="text/javascript"></script>
<script src="/static/lib/bootstrap/js/dropdown.js" type="text/javascript"></script>
<script src="/static/lib/bootstrap/js/modal.js" type="text/javascript"></script>
<script src="/static/lib/bootstrap/js/tooltip.js" type="text/javascript"></script>
<script src="/static/lib/bootstrap/js/popover.js" type="text/javascript"></script>
<script src="/static/lib/bootstrap/js/scrollspy.js" type="text/javascript"></script>
<script src="/static/lib/bootstrap/js/tab.js" type="text/javascript"></script>
<script src="/static/lib/bootstrap/js/transition.js" type="text/javascript"></script>
<script src="/static/lib/select2/select2.js" type="text/javascript"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

