<!DOCTYPE html>
<html lang="vi">

<head>

    {% include 'lib.html' %}
    <link href="/static/src/css/my_style.css" rel="stylesheet" type="text/css"/>
    <link href="/static/src/css/font.css" rel="stylesheet" type="text/css"/>
    <link href="/static/src/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="/static/src/css/header.css" rel="stylesheet" type="text/css"/>
</head>

<body>
{% include 'header.html' %}

<main>
    <div class="support" id="support">
        <div class="container">
            <ul class="cc-breadcrumb">
                <li>Trang chủ</li>
                <li>Tin tức</li>
            </ul>
            <div class="row">
                <div class="col-lg-8 cc-left-container">
                    <div class="cc-support-post">
                        <div class="cc-support-img">
                            <a href="">
                                <img src="/static/src/img/Home_Export/bsiBitmap.png"/>
                            </a>
                        </div>
                        <div class="cc-support-left-text">
                            <div class="small-title">
                                <div class="text-upper">NGÀNH DƯỢC</div>
                                <div>13/06/2018</div>
                            </div>
                            <p class="cc-title"><a href="/tin-tuc-chi-tiet">Báo Giá Thuốc tuyển dụng tháng 06</a></p>
                            <span>Để đáp ứng nhu cầu dự trù hàng hóa ngày càng cao và nâng cao tốc độ xử lý đơn hàng, nâng cao chất lượng dịch vụ</span>
                        </div>
                    </div>
                    <div class="cc-support-post">
                        <div class="cc-support-img">
                            <a href="">
                                <img src="/static/src/img/Home_Export/bsiBitmap.png"/>
                            </a>
                        </div>
                        <div class="cc-support-left-text">
                            <div class="small-title">
                                <div class="text-upper">KINH NGHIỆM</div>
                                <div>13/06/2018</div>
                            </div>
                            <p class="cc-title"><a href="/tin-tuc-chi-tiet">Foto 2 - 3 Magnesio Dimalato 800MG 120 Caps - Puro- Ultra
                                Concentrado</a></p>
                            <span>Để đáp ứng nhu cầu dự trù hàng hóa ngày càng cao và nâng cao tốc độ xử lý đơn hàng, nâng cao chất lượng dịch vụ</span>
                        </div>
                    </div>
                    <div class="cc-support-post">
                        <div class="cc-support-img">
                            <a href="">
                                <img src="/static/src/img/Home_Export/bsiBitmap.png"/>
                            </a>
                        </div>
                        <div class="cc-support-left-text">
                            <div class="small-title">
                                <div class="text-upper">THUỐC</div>
                                <div>13/06/2018</div>
                            </div>
                            <p class="cc-title"><a href="/tin-tuc-chi-tiet">Ra mắt sản phẩm Omega 3 Oleo De Peixe 1000mg C/120 Cápsulas Takecare</a></p>
                            <span>Để đáp ứng nhu cầu dự trù hàng hóa ngày càng cao và nâng cao tốc độ xử lý đơn hàng, nâng cao chất lượng dịch vụ</span>
                        </div>
                    </div>
                    <div class="cc-support-post">
                        <div class="cc-support-img">
                            <a href="">
                                <img src="/static/src/img/Home_Export/bsiBitmap.png"/>
                            </a>
                        </div>
                        <div class="cc-support-left-text">
                            <div class="small-title">
                                <div class="text-upper">HÓA MĨ PHẨM</div>
                                <div>13/06/2018</div>
                            </div>
                            <p class="cc-title"><a href="/tin-tuc-chi-tiet">Foto 2 - 3 Magnesio Dimalato 800MG 120 Caps - Puro- Ultra
                                Concentrado</a></p>
                            <span>Để đáp ứng nhu cầu dự trù hàng hóa ngày càng cao và nâng cao tốc độ xử lý đơn hàng, nâng cao chất lượng dịch vụ</span>
                        </div>
                    </div>
                    <div class="cc-support-post">
                        <div class="cc-support-img">
                            <a href="">
                                <img src="/static/src/img/Home_Export/bsiBitmap.png"/>
                            </a>
                        </div>
                        <div class="cc-support-left-text">
                            <div class="small-title">
                                <div class="text-upper">THUỐC</div>
                                <div>13/06/2018</div>
                            </div>
                            <p class="cc-title"><a href="/tin-tuc-chi-tiet">Ra mắt sản phẩm Omega 3 Oleo De Peixe 1000mg C/120 Cápsulas Takecare</a></p>
                            <span>Để đáp ứng nhu cầu dự trù hàng hóa ngày càng cao và nâng cao tốc độ xử lý đơn hàng, nâng cao chất lượng dịch vụ</span>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-3 cc-right-container">
                    <div class="cc-directory-support">
                        <div class="cc-directory-img">
                            <p class="cc-title"><a href="/tin-tuc-chi-tiet">Danh mục tin tức</a></p>
                        </div>
                        <ul>
                            <li><a href="#">Thông báo</a></li>
                            <li><a href="#">Ngành Dược</a></li>
                            <li><a href="#">Kinh nghiệm</a></li>
                            <li><a href="#">Tuyển dụng</a></li>
                        </ul>
                    </div>
                    <div class="cc-directory-support">
                        <div class="cc-directory-img">
                            <p class="cc-title"><a href="/tin-tuc-chi-tiet">Khuyến mại hữu ích</a></p>
                        </div>
                        <div class="suggest-support">
                            <div class="cc-support-img">
                                <a href="">
                                    <img src="/static/src/img/Home_Export/khBitmap.png"/>
                                </a>
                            </div>
                            <div class="cc-support-right-text">
                                <p class="cc-day">13/06/2018</p>
                                <span>Bổ sung thực phẩm tốt cho tuyến giáp vào khẩu phần ăn của mình</span>
                            </div>
                        </div>
                        <div class="suggest-support">
                            <div class="cc-support-img">
                                <a href="">
                                    <img src="/static/src/img/Home_Export/khBitmap.png"/>
                                </a>
                            </div>
                            <div class="cc-support-right-text">
                                <p class="cc-day">13/06/2018</p>
                                <span>Bổ sung thực phẩm tốt cho tuyến giáp vào khẩu phần ăn của mình</span>
                            </div>
                        </div>
                    </div>

                    <div class="cc-directory-support">
                        <div class="cc-directory-img">
                            <p class="cc-title"><a href="/tin-tuc-chi-tiet">Tin tức nổi bật</a></p>
                        </div>
                        <div class="suggest-support">
                            <div class="cc-support-img">
                                <a href="">
                                    <img src="/static/src/img/Home_Export/khBitmap.png"/>
                                </a>
                            </div>
                            <div class="cc-support-right-text">
                                <p class="cc-day">13/06/2018</p>
                                <span>Bổ sung thực phẩm tốt cho tuyến giáp vào khẩu phần ăn của mình</span>
                            </div>
                        </div>
                        <div class="suggest-support">
                            <div class="cc-support-img">
                                <a href="">
                                    <img src="/static/src/img/Home_Export/khBitmap.png"/>
                                </a>
                            </div>
                            <div class="cc-support-right-text">
                                <p class="cc-day">13/06/2018</p>
                                <span>Bổ sung thực phẩm tốt cho tuyến giáp vào khẩu phần ăn của mình</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pagination-div">
        <!--Pagination-->
        <div class="pagination-div-child">
            <ul class="pagination">

                <!--Arrow left-->
                <li class="page-item">
                    <a aria-label="Previous" class="page-link" href="#">
                        <span aria-hidden="true"><img src="/static/src/img/previous.svg"/></span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>

                <!--Numbers-->
                <li class="page-item"><a class="page-link active" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <!--Arrow right-->
                <li class="page-item">
                    <a aria-label="Next" class="page-link" href="#">
                        <span aria-hidden="true"><img src="/static/src/img/next.svg"/></span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
            <div class="input-group cc-go-page">
                <input class="form-control" placeholder="Số trang" type="text">
                <span class="input-group-btn">
                    <button class="btn btn-default cc-button-gopage" type="submit">
                        <i class="fa">Đi</i>
                    </button>
                    </span>
            </div>
        </div>
    </div>
</main>

{% include 'footer.html' %}

</body>

</html>