<!DOCTYPE html>
<html lang="vi">

<head>

    {% include 'lib.html' %}
    <link href="/static/src/css/my_style.css" rel="stylesheet" type="text/css"/>
    <link href="/static/src/css/font.css" rel="stylesheet" type="text/css"/>
    <link href="/static/src/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="/static/src/css/header.css" rel="stylesheet" type="text/css"/>
    <link href="/static/src/css/news_detail.css" rel="stylesheet" type="text/css"/>
</head>

<body>
{% include 'header.html' %}

<main>
    <div class="news_detail" id="news_detail">
        <div class="container">
            <ul class="cc-breadcrumb">
                <li>Trang chủ</li>
                <li>Giới thiệu</li>
            </ul>
            <div class="row">
                <div class="col-lg-8 cc-left-container">
                    <div class="cc-title-small">
                        <span class="cc-text-span">Ngành Dược</span>
                        <div>13/06/2018</div>
                    </div>
                    <div class="cc-des-newsdetail">
                        <p class="cc-bigtitle">Đình chỉ thêm 14 loại thuốc Trung Quốc gây ung thư</p>
                        <p>Theo Cục Quản lý Dược (Bộ Y tế), có 23 loại thuốc trên thị trường trong nước chứa thành phần
                            valsartan được nhập từ Trung Quốc có nguy cơ gây ung thư. Cục Quản lý dược đã đình chỉ lưu
                            hành 23 loại thuốc này.</p>
                        <img class="cc-img-inside" src="/static/src/img/5_step/3x/Bitmap Copy 6.png"/>
                        <p>Ông Nguyễn Tấn Đạt, Phó cục trưởng Cục Quản lý Dược (Bộ Y tế), vừa ký công văn khẩn số
                            13441/QLD-CL ngày 13-7-2018 về việc xử lý thuốc chứa dược chất Valsartan</p>
                        <p>Động thái này diễn ra ngay sau khi Cục Quản lý Dược gửi công văn hỏa tốc yêu cầu các đơn vị
                            ngừng sử dụng 23 loại thuốc trong nước chứa thành phần valsartan, có nguy cơ ung thư từ
                            Trung Quốc để sản xuất thuốc và tìm kiếm nguồn cung cấp khác nhằm đảm bảo yêu cầu về chất
                            lượng, an toàn cho người sử dụng vào ngày 10-7.</p>
                        <p>Theo đó Cục Quản lý Dược căn cứ kết quả rà soát việc cấp số đăng ký thuốc, sản xuất, nhập
                            khẩu thuốc, nguyên liệu làm thuốc và báo cáo của các cơ sở đăng ký thuốc, cơ sở sản xuất,
                            nhập khẩu nguyên liệu thuốc làm thuốc về nguồn gốc nguyên liệu Valssartan, nhằm đảm bảo an
                            toàn cho người sử dụng đồng thời cung cấp thông tin về thuốc chứa Valssartan tiếp tục được
                            sử dụng trong phòng bệnh, chữa bệnh. Cục Quản lý Dược thông báo danh sách cập nhật các thuốc
                            chứa Valsartan bị thu hồi.</p>
                        <p>Cụ thể, Cục đình chỉ lưu hành 23 loại thuốc thành phẩm được sản xuất từ nguyên liệu Valsartan
                            của Công ty Zhejiang Huahai Pharmaceutical (Trung Quốc).</p>
                        <p>Cục yêu cầu các cơ sở sản xuất, cơ sở nhập khẩu thuốc khẩn trương triến khai việc thu hồi
                            thuốc theo đúng yêu cầu tại công văn sô 13125 QLD-CL ngày 10-7-2018 của Cục Quản lý
                            Dược.</p>
                    </div>
                </div>
                <div class=" col-lg-3 cc-right-container">
                    <div class="cc-directory-support">
                        <div class="cc-directory-img">
                            <p class="cc-title"><a href="/tin-tuc-chi-tiet">Danh mục tin tức</a></p>
                        </div>
                        <ul>
                            <li><a href="#">Thông báo</a></li>
                            <li><a href="#">Ngành Dược</a></li>
                            <li><a href="#">Kinh nghiệm</a></li>
                            <li><a href="#">Tuyển dụng</a></li>
                        </ul>
                    </div>
                    <div class="cc-directory-support">
                        <div class="cc-directory-img">
                            <p class="cc-title"><a href="/tin-tuc-chi-tiet">Khuyến mại hữu ích</a></p>
                        </div>
                        <div class="suggest-support">
                            <div class="cc-support-img">
                                <a href="">
                                    <img src="/static/src/img/Home_Export/khBitmap.png"/>
                                </a>
                            </div>
                            <div class="cc-support-right-text">
                                <p class="cc-day">13/06/2018</p>
                                <span>Bổ sung thực phẩm tốt cho tuyến giáp vào khẩu phần ăn của mình</span>
                            </div>
                        </div>
                        <div class="suggest-support">
                            <div class="cc-support-img">
                                <a href="">
                                    <img src="/static/src/img/Home_Export/khBitmap.png"/>
                                </a>
                            </div>
                            <div class="cc-support-right-text">
                                <p class="cc-day">13/06/2018</p>
                                <span>Bổ sung thực phẩm tốt cho tuyến giáp vào khẩu phần ăn của mình</span>
                            </div>
                        </div>
                    </div>

                    <div class="cc-directory-support">
                        <div class="cc-directory-img">
                            <p class="cc-title"><a href="/tin-tuc-chi-tiet">Tin tức nổi bật</a></p>
                        </div>
                        <div class="suggest-support">
                            <div class="cc-support-img">
                                <a href="">
                                    <img src="/static/src/img/Home_Export/khBitmap.png"/>
                                </a>
                            </div>
                            <div class="cc-support-right-text">
                                <p class="cc-day">13/06/2018</p>
                                <span>Bổ sung thực phẩm tốt cho tuyến giáp vào khẩu phần ăn của mình</span>
                            </div>
                        </div>
                        <div class="suggest-support">
                            <div class="cc-support-img">
                                <a href="">
                                    <img src="/static/src/img/Home_Export/khBitmap.png"/>
                                </a>
                            </div>
                            <div class="cc-support-right-text">
                                <p class="cc-day">13/06/2018</p>
                                <span>Bổ sung thực phẩm tốt cho tuyến giáp vào khẩu phần ăn của mình</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cc-suggest-news">
                <p class="cc-bigtitle">BÀI VIẾT LIÊN QUAN</p>
                <div class="margin-left--15 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <img class="cc-img-inside" src="/static/src/img/5_step/3x/Bitmap Copy 6.png"/>
                    <p class="cc-text-span">13/06/2018</p>
                    <a href="#"><p class="cc-bigtitle">Tiết kiệm đến 80% khi mua sắm tại những cửa hàng tốt nhất.</p>
                    </a>
                    <div class="cc-small-des">
                        <span>Để đáp ứng nhu cầu dự trù hàng hóa ngày càng cao và nâng cao tốc độ xử lý đơn hàng, nâng cao chất lượng dịch vụ</span>
                    </div>
                </div>
                <div class="margin-left--15 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <img class="cc-img-inside" src="/static/src/img/5_step/3x/Bitmap Copy 6.png"/>
                    <p class="cc-text-span">13/06/2018</p>
                    <a href="#"><p class="cc-bigtitle">Tiết kiệm đến 80% khi mua sắm tại những cửa hàng tốt nhất.</p>
                    </a>
                    <div class="cc-small-des">
                        <span>Để đáp ứng nhu cầu dự trù hàng hóa ngày càng cao và nâng cao tốc độ xử lý đơn hàng, nâng cao chất lượng dịch vụ</span>
                    </div>
                </div>
                <div class="margin-left--15 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <img class="cc-img-inside" src="/static/src/img/5_step/3x/Bitmap Copy 6.png"/>
                    <p class="cc-text-span">13/06/2018</p>
                    <a href="#"><p class="cc-bigtitle">Tiết kiệm đến 80% khi mua sắm tại những cửa hàng tốt nhất.</p>
                    </a>
                    <div class="cc-small-des">
                        <span>Để đáp ứng nhu cầu dự trù hàng hóa ngày càng cao và nâng cao tốc độ xử lý đơn hàng, nâng cao chất lượng dịch vụ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% include 'footer.html' %}
</body>

</html>