<!DOCTYPE html>
<html lang="vi">

<head>

    {% include 'lib.html' %}
    <link href="/static/src/css/my_style.css" rel="stylesheet" type="text/css"/>
    <link href="/static/src/css/font.css" rel="stylesheet" type="text/css"/>
    <link href="/static/src/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="/static/src/css/header.css" rel="stylesheet" type="text/css"/>
    <link href="/static/src/css/order_detail.css" rel="stylesheet" type="text/css"/>

    <!-- Custom JS -->
    <script src="/static/src/js/order_detail.js" type="text/javascript"></script>
</head>

<body>
{% include 'header.html' %}

<main>
    <div class="container">
        <ul class="cc-breadcrumb">
            <li><a href="#">Trang chủ</a></li>
            <li>Đơn hàng</li>
        </ul>
    </div>
    <div class="em_order_containner">
        <div class="container">
            <div class="sussess_block text-center">
                <img src="/static/src/img/em/order/sussess.png"/>
                <h2>Đặt hàng thành công</h2>
                <p>Đơn hàng của bạn đã được đặt thành công. Chúng tôi sẽ gọi lại để xác nhận đơn hàng của bạn. Cám ơn
                    bạn đã tin tưởng và sử dụng dịch vụ của Giá Thuốc Sỉ.</p>
            </div>

            <div class="sussess_info">
                <div class="row">
                    <div class="col-md-7">
                        <h2>Thông tin đơn hàng</h2>
                        <div class="overflow_table">
                            <table class="otable_sussess">
                                <tr>
                                    <td>Số đơn hàng</td>
                                    <td><b>3299183</b></td>
                                </tr>
                                <tr>
                                    <td>Thời gian đặt hàng</td>
                                    <td><b>13/6/2018 17:00</b></td>
                                </tr>
                                <tr>
                                    <td>Phương thức thanh toán</td>
                                    <td><b>Tiền mặt</b></td>
                                </tr>
                                <tr>
                                    <td>Tổng cộng</td>
                                    <td><b class="cred">400.000đ</b></td>
                                </tr>
                                <tr>
                                    <td>Ghi chú</td>
                                    <td><b>Giao trước 14h, trong giờ hành chính</b></td>
                                </tr>
                            </table>
                        </div>


                        <h2 class="mt54">Thông tin người nhận hàng</h2>
                        <div class="overflow_table">
                            <table class="otable_sussess">
                                <tr>
                                    <td>Họ tên</td>
                                    <td><b>Trần Quang Kiên</b></td>
                                </tr>
                                <tr>
                                    <td>Điện thoại</td>
                                    <td><b>01928482113</b></td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><b>trang@gmail.com</b></td>
                                </tr>
                                <tr>
                                    <td>Địa chỉ</td>
                                    <td><b>Park 7, Times City - 458 Minh Khai, P. Vĩnh Tuy, Q. Hai Bà Trưng, Hà Nội</b>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-5">

                        <div class="payinfo_block">
                            <h3>Thanh toán tiền mặt</h3>
                            <p>
                                Khách hàng có thể thực hiện hình thức thanh toán bằng tiền mặt bằng cách: Gửi tiền mặt
                                cho Nhà xe chuyển hàng mà Khách hàng đã đăng ký trong đơn hàng hoặc thanh toán tiền trực
                                tiếp tại chợ thuốc Hapu.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</main>

{% include 'footer.html' %}

</body>

</html>