<!DOCTYPE html>
<html lang="vi">

<head>

    {% include 'lib.html' %}
    <link href="/static/src/css/my_style.css" rel="stylesheet" type="text/css"/>
    <link href="/static/src/css/font.css" rel="stylesheet" type="text/css"/>
    <link href="/static/src/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="/static/src/css/header.css" rel="stylesheet" type="text/css"/>
</head>

<body>
{% include 'header.html' %}

<main>
    <div class="support" id="support">
        <div class="container">
            <ul class="cc-breadcrumb">
                <li>Trang chủ</li>
                <li>Hỗ trợ</li>
            </ul>
            <div class="row">
                <div class="col-lg-8 cc-left-container">
                    <div class="cc-support-post">
                        <div class="cc-support-img">
                            <a href="">
                                <img src="/static/src/img/Home_Export/bsiBitmap.png"/>
                            </a>
                        </div>
                        <div class="cc-support-left-text">
                            <p class="cc-title"><a href="/tin-tuc-chi-tiet">Hướng dẫn đăng ký tài khoản</a></p>
                            <span>Để đáp ứng nhu cầu dự trù hàng hóa ngày càng cao và nâng cao tốc độ xử lý đơn hàng, nâng cao chất lượng dịch vụ</span>
                        </div>
                    </div>
                    <div class="cc-support-post">
                        <div class="cc-support-img">
                            <a href="">
                                <img src="/static/src/img/Home_Export/bsiBitmap.png"/>
                            </a>
                        </div>
                        <div class="cc-support-left-text">
                            <p class="cc-title"><a href="/tin-tuc-chi-tiet">Hỗ trợ chọn thuốc đúng loại trên Giá thuốc sỉ</a></p>
                            <span>Để đáp ứng nhu cầu dự trù hàng hóa ngày càng cao và nâng cao tốc độ xử lý đơn hàng, nâng cao chất lượng dịch vụ</span>
                        </div>
                    </div>
                    <div class="cc-support-post">
                        <div class="cc-support-img">
                            <a href="">
                                <img src="/static/src/img/Home_Export/bsiBitmap.png"/>
                            </a>
                        </div>
                        <div class="cc-support-left-text">
                            <p class="cc-title"><a href="/tin-tuc-chi-tiet">Hướng dẫn mua thuốc online</a></p>
                            <span>Để đáp ứng nhu cầu dự trù hàng hóa ngày càng cao và nâng cao tốc độ xử lý đơn hàng, nâng cao chất lượng dịch vụ</span>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-3 cc-right-container">
                    <div class="cc-directory-support">
                        <div class="cc-directory-img">
                            <p class="cc-title"><a href="/tin-tuc-chi-tiet">Danh mục hỗ trợ</a></p>
                        </div>
                        <ul>
                            <li><a href="#">Hướng dẫn xem Báo giá & Đặt hàng</a></li>
                            <li><a href="#">Thanh toán bằng chuyển khoản</a></li>
                            <li><a href="#">Thanh toán bằng tiền mặt</a></li>
                            <li><a href="#">Chính sách vận chuyển</a></li>
                            <li><a href="#">Chính sách đổi trả hàng</a></li>
                            <li><a href="#">Câu hỏi thường gặp</a></li>
                        </ul>
                    </div>
                    <div class="cc-directory-support">
                        <div class="cc-directory-img">
                            <p class="cc-title"><a href="/tin-tuc-chi-tiet">Khuyến mại hữu ích</a></p>
                        </div>
                        <div class="suggest-support">
                            <div class="cc-support-img">
                                <a href="">
                                    <img src="/static/src/img/Home_Export/khBitmap.png"/>
                                </a>
                            </div>
                            <div class="cc-support-right-text">
                                <p class="cc-day">13/06/2018</p>
                                <span>Bổ sung thực phẩm tốt cho tuyến giáp vào khẩu phần ăn của mình</span>
                            </div>
                        </div>
                        <div class="suggest-support">
                            <div class="cc-support-img">
                                <a href="">
                                    <img src="/static/src/img/Home_Export/khBitmap.png"/>
                                </a>
                            </div>
                            <div class="cc-support-right-text">
                                <p class="cc-day">13/06/2018</p>
                                <span>Bổ sung thực phẩm tốt cho tuyến giáp vào khẩu phần ăn của mình</span>
                            </div>
                        </div>
                        <div class="suggest-support">
                            <div class="cc-support-img">
                                <a href="">
                                    <img src="/static/src/img/Home_Export/khBitmap.png"/>
                                </a>
                            </div>
                            <div class="cc-support-right-text">
                                <p class="cc-day">13/06/2018</p>
                                <span>Bổ sung thực phẩm tốt cho tuyến giáp vào khẩu phần ăn của mình</span>
                            </div>
                        </div>
                    </div>

                    <div class="cc-directory-support">
                        <div class="cc-directory-img">
                            <p class="cc-title"><a href="/tin-tuc-chi-tiet">Tin tức nổi bật</a></p>
                        </div>
                        <div class="suggest-support">
                            <div class="cc-support-img">
                                <a href="">
                                    <img src="/static/src/img/Home_Export/khBitmap.png"/>
                                </a>
                            </div>
                            <div class="cc-support-right-text">
                                <p class="cc-day">13/06/2018</p>
                                <span>Bổ sung thực phẩm tốt cho tuyến giáp vào khẩu phần ăn của mình</span>
                            </div>
                        </div>
                        <div class="suggest-support">
                            <div class="cc-support-img">
                                <a href="">
                                    <img src="/static/src/img/Home_Export/khBitmap.png"/>
                                </a>
                            </div>
                            <div class="cc-support-right-text">
                                <p class="cc-day">13/06/2018</p>
                                <span>Bổ sung thực phẩm tốt cho tuyến giáp vào khẩu phần ăn của mình</span>
                            </div>
                        </div>
                        <div class="suggest-support">
                            <div class="cc-support-img">
                                <a href="">
                                    <img src="/static/src/img/Home_Export/khBitmap.png"/>
                                </a>
                            </div>
                            <div class="cc-support-right-text">
                                <p class="cc-day">13/06/2018</p>
                                <span>Bổ sung thực phẩm tốt cho tuyến giáp vào khẩu phần ăn của mình</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8  col-md-8 col-sm-6 col-xs-12 cc-text-footer">
                    <ul class="cc-ul-infofooter">
                        <li class="cc-footer-title">Giá Thuốc Sỉ là website thuộc sở hữu của Công ty Cổ phần Dược Hapu
                        </li>
                        <li class="cc-footer-des">
                            <p>Địa chỉ: 134/1 Tô Hiến Thành, Phường 15, Quận 10, Tp Hồ Chí Minh, Việt Nam</p>
                            <p>Hotline: 08183717183</p>
                            <p>Email: Giathuocsi@gmail.com</p>
                        </li>
                        <li class="cc-footer-des">
                            <p>Bản quyền thuộc Công ty Cổ phần Dược Hapu.<br/>
                                Số chứng nhận đăng ký kinh doanh: 0107437032 (Số chứng nhận đủ điều kiện kinh doanh
                                thuốc)</p>
                            <div>
                                <img src="/static/src/img/Home_Export/FBitmap.png"/>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 cc-image-footer">
                    <li><a href="#"><img src="/static/src/img/Home_Export/Group 49.png"/></a></li>
                    <li><a href="#"><img src="/static/src/img/Home_Export/Group 47.png"/></a></li>
                    <li><a href="#"><img src="/static/src/img/Home_Export/Group 47 Copy.png"/></a></li>
                    <li><a href="#"><img src="/static/src/img/Home_Export/Group 47 Copy 2.png"/></a></li>
                    <li><a href="#"><img src="/static/src/img/Home_Export/Group 47 Copy 3.png"/></a></li>
                </div>
            </div>
        </div>
    </div>
</main>

{% include 'footer.html' %}

</body>

</html>